@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0px;
    padding:0px;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
    outline:none;
    border:none;
}

body{
    width:100%;
    height:100vh;
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    background-image: url("https://images.unsplash.com/photo-1432839318976-b5c5785ce43f?q=80&w=1800&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    background-size:cover;
    overflow: auto;
}

.container{
    width:400px;
    background-color: white;
    border-radius: 20px;
    padding:25px;
}

.search-box{
    width: 100%;
    height:50px;
    display:flex;
    justify-content: space-between;
}

.search-box input{
    width:84%;
    background-color: #e6f5fb;
    padding:20px;
    border-radius:10px;
    font-size: 1.1rem;
    text-transform: capitalize;
}

.search-box button{
    width:50px;
    background-color: #e6f5fb;
    border-radius: 50%;
    font-size: 1.1rem;
    cursor: pointer;
    margin-left:4px;
}

.search-box button:hover{
    background-color: #0000008b;
    color:white;
}

.weather-box{
    display:none;
    flex-direction: column;
    justify-content:center;
    align-items: center;
}
.weather-box img{
    width:50%;
}

.temp{
    text-align:center;
    margin:20px 0px;
}
 
.degree{
    font-weight: bolder;
    line-height: 1;
    font-size:3rem;
}

.degree sup{
    font-size: 1.4rem;
    font-weight: 450;
}

.description{
    font-weight:650;
    font-size: 1.5rem;
    text-transform: capitalize;
}

.location-not-found{
    width:100%;
    display:none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin:20px 0px;
}

.location-not-found h2{
    color:rgba(0, 0, 0, 0.227);
    font-size: 1.5rem;
    margin-bottom: 20px;
}

.location-not-found img{
    width:50%;
}
.weather-details{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    margin: 20px 0px 10px 0px;
}   

.humidity{
    display:flex;
    justify-content: center;
}

.humidity i{
    font-size: 2.4rem;
    margin-right:10px;
}

.wind{
    display:flex;
    justify-content: baseline;
}

.wind i{
    font-size: 2.3rem;
    margin-right:10px;
}

.text span{
    font-weight: 650;
    font-size: 1.2rem;
}

.text p{
    font-weight: 500;
    font-size: 0.9rem;
    line-height: 1;
}

@media(max-width:400px){
    body{
        overflow: hidden;
    }
.container{
    width:350px;
    background-color: white;
    border-radius: 20px;
    padding:25px;
}
}